*.pyc
*.py~
*.sh~
*.egg-info/
build/
dist/
RELEASE-VERSION
test_definition_1.xml
test_definition_2.xml
.project
.pydevproject
.settings
\#*
debian/files
debian/python-ots-common.debhelper.log
debian/python-ots-common.substvars
debian/python-ots-common/
debian/python-ots-django.debhelper.log
debian/python-ots-django.substvars
debian/python-ots-django/
debian/python-ots-plugin-conductor-richcore.debhelper.log
debian/python-ots-plugin-conductor-richcore.substvars
debian/python-ots-plugin-conductor-richcore/
debian/python-ots-plugin-email.debhelper.log
debian/python-ots-plugin-email.substvars
debian/python-ots-plugin-email/
debian/python-ots-plugin-history.debhelper.log
debian/python-ots-plugin-history.substvars
debian/python-ots-plugin-history/
debian/python-ots-plugin-logger.debhelper.log
debian/python-ots-plugin-logger.substvars
debian/python-ots-plugin-logger/
debian/python-ots-plugin-monitor.debhelper.log
debian/python-ots-plugin-monitor.substvars
debian/python-ots-plugin-monitor/
debian/python-ots-plugin-qareports.debhelper.log
debian/python-ots-plugin-qareports.substvars
debian/python-ots-plugin-qareports/
debian/python-ots-results.debhelper.log
debian/python-ots-results.substvars
debian/python-ots-results/
debian/python-ots-server.debhelper.log
debian/python-ots-server.substvars
debian/python-ots-server/
debian/python-ots-tools.debhelper.log
debian/python-ots-tools.substvars
debian/python-ots-tools/
debian/python-ots-worker.debhelper.log
debian/python-ots-worker.substvars
debian/python-ots-worker/
debian/tmp/

