body
{
  background-color:#ffffff;
  margin:50px 0px; 
  padding:0px;
  text-align:center;
}

a
{
  color: #515151;
  text-decoration:underline; 
  outline: none;
}

a:focus, a:hover, a:active 
{
  color: #ed0089;
}

a.footerlink
{
  color: gray;
  font-size: 8px;
}

a.date, a.date:focus, a.date:active
{
  color:black;
  text-decoration:none; 
}

a.date:hover
{
  color:black;
  text-decoration:underline; 
}

DIV.main
{
  margin:0px auto;
  width:80%;
  text-align:left;
}

#menu
{
  border-bottom: 1px solid #cacaca;
}

#menu_list
{
  height:50px;
  border-collapse:collapse;
}

#menu td
{
  padding-left:15px;
  padding-right:15px;
}

#header
{
  border-bottom: 7px solid #ED0089;
  height: 66px;
  background-image: url(/media/logo.png); 
  background-repeat: no-repeat;
}

#contentArea
{
  padding-bottom:5px;
  padding-top:5px;
}

#page_title
{
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size:18pt;
  border-bottom: 3px solid #ED0089;
  padding-bottom:5px;
  width:50%;
}

#footer
{
  border-top: 7px solid #ED0089;
  padding-top: 10px;
  text-align:center;
  font-size: 8px;
}

#testrun_list, #testrun_info
{
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
  border-collapse:collapse;
}

#testrun_details
{
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 50%;
  border-collapse:collapse;
}

#testrun_details td.title
{
  font-size:1.1em;
  text-align:left;
  padding-top:5px;
  padding-bottom:4px;
  background-color:#A7C942;
  color:#ffffff;
  width: 200px;
}

#testrun_list td, #testrun_list th, #testrun_info td, #testrun_info th, #testrun_details td, #testrun_details th
{
  font-size:1em;
  border:1px solid #98bf21;
  padding:3px 7px 2px 7px;
}

#testrun_list th, #testrun_info th
{
  font-size:1.1em;
  text-align:left;
  padding-top:5px;
  padding-bottom:4px;
  background-color:#A7C942;
  color:#ffffff;
}

#testrun_list tr.odd, #testrun_info tr.odd
{
  color:#000000;
  background-color:#EAF2D3;
}

#testrun_list tr.even:hover, #testrun_list tr.odd:hover
{
  background-color: #cff;
}

td.state_0
{
  background-image: url(/media/inqueue.png);
  background-repeat: no-repeat;
  background-position:right;
  height:24px;
}

td.state_1
{
  background-image: url(/media/ongoing.png);
  background-repeat: no-repeat;
  background-position:right;
  height:24px;
}

td.state_2
{
  background-image: url(/media/passed.png);
  background-repeat: no-repeat;
  background-position:right;
  height:24px;
}

td.state_3
{
  background-image: url(/media/failed.png);
  background-repeat: no-repeat;
  background-position:right;
  height:24px;
}

td.state_4
{
  background-image: url(/media/error.png);
  background-repeat: no-repeat;
  background-position:right;
  height:24px;
}

#worker_box
{
    width: 400px;
    height: 100%
    margin: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:1px solid #98bf21; 
}
#worker_box h2
{
    padding: 10px 15px 5px 15px;
}
#worker_box p
{
    margin: 0px;
    padding: 5px 15px 10px 15px;
    white-space: nowrap;
}

SPAN.INFO, SPAN.PASSED
{
  color:green;
}

SPAN.DEBUG
{
  color:blue;
}

SPAN.FAILED
{
  color:orange;
}

SPAN.WARNING
{
  color:adb73e;
}

SPAN.ERROR
{
  color:red;
}

#date_select
{
  margin:auto;
  width:100%;
}

#submit
{
  border: 1px solid black;
  background-color:#EAF2D3;
}
#filterdate
{
  border: 1px solid black;
  background-color:#EAF2D3;
  width: 150px;
  text-align:center;
}
#filter_table
{
  width: 100%;
  text-align: center;
}