Source: ots
Maintainer: Teemu Vainio <teemu.vainio@ixonos.com>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), debhelper (>= 7), python-support (>= 0.8.4)
XS-Python-Version: >=2.5
Standards-Version: 3.8.4

Package: python-ots-common
Architecture: all
Depends: python (>= 2.5) 
XB-Python-Version: >=2.5
Description: Common libraries for OTS
 Common libraries for OTS.

Package: python-ots-results
Architecture: all
Depends: python (>= 2.5), python-ots-common
Provides: ${python:Provides}
XB-Python-Version: >=2.5
Description: Result libraries for OTS
 Result libraries for OTS.

Package: python-ots-server
Architecture: all
Depends: python (>= 2.5), python-amqplib, python-django, python-configobj, rabbitmq-server, python-ots-common, test-definition
Provides: ${python:Provides}
XB-Python-Version: >=2.5
Description: OTS server
 OTS server which handles incoming test requests and
 results processing.

Package: python-ots-worker
Architecture: all
Depends: python (>= 2.5), python-amqplib, python-ots-common, testrunner-lite
Provides: ${python:Provides}
XB-Python-Version: >=2.5
Description: OTS worker
 OTS worker handles test device control and
 test execution.

Package: python-ots-django
Architecture: all
Depends: python (>= 2.5), python-django, python-ots-server, libapache2-mod-wsgi, apache2-mpm-prefork
Provides: ${python:Provides}
XB-Python-Version: >=2.5
Description: OTS django project
 OTS django project and applications.

Package: python-ots-tools
Architecture: all
Depends: python (>= 2.5), python-ots-common
XB-Python-Version: >=2.5
Provides: ${python:Provides}
Description: Helping tools for controlling OTS
 Helping tools for controlling OTS.

Package: python-ots-plugin-logger
Architecture: all
Depends: python (>= 2.5), python-ots-server, python-ots-django
XB-Python-Version: >=2.5
Provides: ${python:Provides}
Description: Logger plugin to OTS server
 Logger plugin to OTS server.

Package: python-ots-plugin-qareports
Architecture: all
Depends: python (>= 2.5), python-ots-server
XB-Python-Version: >=2.5
Provides: ${python:Provides}
Description: MeeGo QA reports plugin to OTS server
 MeeGo QA reports plugin to OTS server.

Package: python-ots-plugin-email
Architecture: all
Depends: python (>= 2.5), python-ots-server
XB-Python-Version: >=2.5
Provides: ${python:Provides}
Description: Email plugin to OTS server
 Email plugin to OTS server.
 
Package: python-ots-plugin-history
Architecture: all
Depends: python (>= 2.5), python-ots-django, python-ots-server
XB-Python-Version: >=2.5
Provides: ${python:Provides}
Description: History plugin to OTS server
 Test package distribution model based on last execution time.

Package: python-ots-plugin-monitor
Architecture: all
Depends: python (>= 2.5), python-ots-django, python-ots-server
XB-Python-Version: >=2.5
Provides: ${python:Provides}
Description: Monitor plugin to OTS server
 Statistical information from the OTS system.
